* {
    box-sizing: border-box;
	}

table {
	border-collapse: collapse;
    width: 1000px;
}

td, th {
	
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color:#FBFBFB;
}

tr:nth-child(odd) {
    background-color:#FFFFE0;
}

.off-to-right{
	float:right;
	background-color:grey;
	width:500px;
	height:1000px
}

.post-title{
	color:#CC3300;
	font-size:25px;
	margin-bottom:4px;
}

.preview{
	max-width:300px;
	word-wrap:break-word;
	color:#888888;
	margin-top:1px;
	font-size:12px;
}

header{
	background-color: #FD9200;
	position:relative;
	width:1000px;
	height:70px;
}

header h1{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

img{
	float:left;
	width:35px;
	margin-right:4px;
	
}


