* {
    box-sizing: border-box;
	}

body{
	padding:0;
	margin:0;
}

div{
	display:block;
}

.topic{
	font-size:29px;
}

.author{
	font-weight:bold;
}

.container{
	margin-top:5px;
	padding:10px;
	width:1000px;
}

.container:nth-of-type(odd){
	background-color:#FFFFE0;
}

.container:nth-of-type(even){
	background-color:#FBFBFB
}