table {
    font-family: arial, sans-serif;
    width: 1000px;
}

td, th {
    
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.off-to-right{
	float:right;
	background-color:grey;
	width:500px;
	height:1000px
}

header{
	background-color: #FD9200;
	position:relative;
	width:1000px;
	height:70px;
}

header h1{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}