* {
    box-sizing: border-box;
	}

body{
	
	
}

.post-title{
	color:#CC3300;
	font-size:29px;
}

.author{
	color:;
	font-weight:bold;
}

.container{
	padding:10px;
	width:1000px;
	border-style: inset;
}

.container:nth-of-type(odd){
	background-color:#FFFFE0;
}

.container:nth-of-type(even){
	background-color:#FBFBFB
}

.off-to-right{
	float:right;
	background-color:grey;
	width:500px;
	height:1000px
}

header{
	background-color: #FD9200;
	position:relative;
	width:1000px;
	height:70px;
}

header h1{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}